body {
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 12px;
}

a:link {
	color: #3366CC;
	text-decoration: none;
}

a:visited {
	color: #4169E1;
	text-decoration: none;
}

a:active {
	color: #0000CD;
	text-decoration: none;
}

a:hover {
	color: #0000CD;
	text-decoration: underline;
}

.selected {
	color: #3366CC;
	text-decoration: underline;
}

TABLE {
	TEXT-INDENT: 0px;
	FONT-WEIGHT: normal;
	FONT-SIZE: 9pt;
	COLOR: #000000;
	LINE-HEIGHT: normal;
	FONT-STYLE: normal;
	FONT-FAMILY: Verdana, Arial, Sans-Serif;
	TEXT-ALIGN: justify;
}

P {
	FONT-WEIGHT: normal;
	FONT-SIZE: 9pt;
	COLOR: #000000;
	TEXT-INDENT: 20px;
	LINE-HEIGHT: normal;
	FONT-STYLE: normal;
	FONT-FAMILY: Verdana, Arial, Sans-Serif;
	TEXT-ALIGN: justify
}

.large_input_valid {
	font-size: 24pt;
	width: 400px;
	height: 45px;
	color: gray;
	background-color: white;
	margin-bottom: 10
}

.large_input_invalid {
	font-size: 24pt;
	width: 400px;
	height: 45px;
	color: gray;
	background-color: red;
	margin-bottom: 10
}

.handy {
	cursor: pointer;
}

.spacered {
	margin-right: 10;
}

.voc-gwt-DialogBox {
	border: 1px solid #3b5998;
	/*padding: 4px 4px 4px 8px;*/
	background: white;
}

.voc-gwt-DialogBox .Caption {
	background: #3b5998 repeat-x 0px -2003px;
	padding: 4px 4px 4px 8px;
	cursor: default;
	border-bottom: 1px solid #bbbbbb;
	color: white;
}

.voc-gwt-DialogBox .dialogContent {
	padding: 10px 10px 10px 10px;
}

/** Add css rules here for your application.
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}


#closeButton {
  margin: 15px 6px 6px;
}
*/