<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Vocrecaptorweb.html</welcome-file>
  </welcome-file-list>

  <!-- Servlets -->  
  <servlet>
    <servlet-name>userService</servlet-name>
    <servlet-class>com.vocrecaptor.web.server.UserServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>userService</servlet-name>
    <url-pattern>/vocrecaptorweb/userService</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>languageService</servlet-name>
    <servlet-class>com.vocrecaptor.web.server.LanguageServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>languageService</servlet-name>
    <url-pattern>/vocrecaptorweb/languageService</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>dictionaryService</servlet-name>
    <servlet-class>com.vocrecaptor.web.server.DictionaryServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>dictionaryService</servlet-name>
    <url-pattern>/vocrecaptorweb/dictionaryService</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>upload</servlet-name>
    <servlet-class>com.vocrecaptor.web.server.servlet.Upload</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/vocrecaptorweb/upload</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>com.vocrecaptor.web.server.servlet.Login</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/vocrecaptorweb/login</url-pattern>
  </servlet-mapping>

<!-- 
  <servlet>
    <servlet-name>dictionaryListGetter</servlet-name>
    <servlet-class>com.vocrecaptor.gwt.server.servlet.fx.DictionaryListGetter</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>dictionaryListGetter</servlet-name>
    <url-pattern>/vocrecaptorgwt/dictionaryListGetter</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>dictionaryGetter</servlet-name>
    <servlet-class>com.vocrecaptor.gwt.server.servlet.fx.DictionaryGetter</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>dictionaryGetter</servlet-name>
    <url-pattern>/vocrecaptorgwt/dictionaryGetter</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>categoryOrSessionListGetter</servlet-name>
    <servlet-class>com.vocrecaptor.gwt.server.servlet.fx.CategoryOrSessionListGetter</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>categoryOrSessionListGetter</servlet-name>
    <url-pattern>/vocrecaptorgwt/categoryOrSessionListGetter</url-pattern>
  </servlet-mapping>

-->
</web-app>
